*{
    font-family: Arial, Helvetica, sans-serif;    
}

/*------------------------------- Nav --------------------------------------*/
nav{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: #f3edede8;
    margin: -1%;
}
nav ul{
    padding: 10px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
nav a{
   text-decoration: none;
   color: darkslategrey;
   font-weight: bold;
   padding: 10px;
   margin-left: 20px;
}
nav a:hover{
    background-color: rgba(231, 231, 222, 0.411);
    color: rgb(12, 202, 113);
}
#pesquisa{
    display: flex;
    margin-left: 30%;
    border: none;
}
#pesquisa > input{ /*Barra de pesquisa*/
    border-radius: 10px;
    border: none;
    margin-right: 10px;
}
#pesquisa > button{ /*Botão de pesquisa*/
    border: none;
    border-radius: 5px;
}
/*----------------------------------- Footer --------------------------------------------*/
footer{
    display: flex;
    align-self: flex-end;
    background-color:darkslategrey;  
    margin: -10px;
    justify-content: center;
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-self: center;

}
footer li{
    margin-left: 10px;
    display: flex;

}
footer a{
    color: white;
    
}
/*---------------------------------------------Livros -----------------------------------------*/
main{
    text-align: center ;
}
.generos{
    display: flex;
    justify-content: center;
}
.generos ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: rgb(173, 173, 173);
    width: auto;
    border-radius: 15px;
}
.generos a{
    margin-left: 10px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    color: darkslategray;
    font-weight: bold;
    background-color: #f3edede8;

}
.div_livros{
    display: flex;
    justify-content: center;
}
.div_livros ul{
    display: flex;
    flex-direction: row;
    /*overflow-x: scroll;*/
    width: 70%;
    list-style: none;
    background-color: rgb(3, 31, 28);
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
}
.div_livros a{
    color: white;
    text-decoration:underline;
    font-weight: bold;
}
.div_livros img{
    width: auto;
    max-width: 150px;
    max-height: 200px;
    border-radius: 10px;
    margin: auto;
}
/*-----------------------------------------Fórum-------------------------------------------*/
#forum{
    background-color: white;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 10px solid rgb(11, 83, 83) ;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    margin-bottom: 5%;
}
#forum p{
    padding: 10px;
    border-radius: 10px;
}
.pessoa_1{
    background-color: rgb(154, 165, 52);
}
.pessoa_2{
    background-color: rgb(240, 168, 61);
}